
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div style="font-size: 45px;font-weight: bold;text-align: center;margin-bottom: 65px;">Dashboard</div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Total Arts</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Total_Arts"] != null ? Session["Total_Arts"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">InStock Arts</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Active_Arts"] != null ? Session["Active_Arts"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Fixed Price Arts</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["FixedPrice_Arts"] != null ? Session["FixedPrice_Arts"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Auction Arts</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Auction_Arts"] != null ? Session["Auction_Arts"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Artists</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Artist"] != null ? Session["Artist"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Customers</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Customer"] != null ? Session["Customer"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Categories</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Categories"] != null ? Session["Categories"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Orders</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Orders"] != null ? Session["Orders"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="display:flex;justify-content:center;">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Total Amount</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["TotalAmount"] != null ? Session["TotalAmount"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2" style="display: flex;justify-content: center;align-items: center;">
                        <div class="text-end pt-1">
                            <p class="mb-0 text-capitalize" style="font-size:25px;font-weight:500">Exhibition</p>
                            <h4 class="mb-0 text-center" style="font-size:35px;">@(Session["Exhibition"] != null ? Session["Exhibition"].ToString() : "0")</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


