@model ArtGallery.Models.Exhibition

@{
    Layout = null;
    var trueChecked = Model.e_status == 1 ? "checked" : string.Empty;
    var falseChecked = Model.e_status == 0 ? "checked" : string.Empty;
    var imgURL = !string.IsNullOrEmpty(Model.e_image) ? Model.e_image : string.Empty;
}

<h2 class="text-center">Detail Art</h2>
<div class="content-wrapper p-5">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <form id="formData" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;">Id</label>
                                    <input class="form-control" name="e_id" readonly value="@Model.e_id" />
                                </div>
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;"> Name</label>
                                    <input class="form-control" name="e_name" readonly value="@Model.e_name" />
                                </div>
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;"> Country</label>
                                    <input class="form-control" name="e_country" readonly value="@Model.e_country" />
                                </div>
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;"> City</label>
                                    <input class="form-control" name="e_city" readonly value="@Model.e_city" />
                                </div>
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;"> Start Date</label>
                                    <input class="form-control" name="e_start_date" readonly value="@Model.e_start_date" />
                                </div>
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;"> End Date</label>
                                    <input class="form-control" name="e_end_date" readonly value="@Model.e_end_date" />
                                </div>
                                <div class="form-group">
                                    <label style="font-size:15px;font-weight:bold;margin-top:10px;">Status</label>
                                    @if (Model.e_status == 1)
                                    {
                                        <input class="form-control" name="e_status" readonly value="Active" />
                                    }
                                    else
                                    {
                                        <input class="form-control" name="e_status" readonly value="Deactive" />
                                    }
                                </div>
                                <br />
                                <div>
                                    <button type="button" class="editBtn btn btn-primary" data-id="@Model.e_id">
                                        Edit
                                    </button>
                                    <button type="button" id="cancelBtn" class="cancelBtn btn btn-primary" data-id="@Model.e_id">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumb">
                                    <img src="@imgURL" class="img-thumbnail img-fluid" alt="Art Image" id="ArtImage" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".editBtn").click(function () {
        $.ajax({
            url: '@Url.Action("EditExhibition", "Admin")',
            data: {
                Id : $(this).attr("data-id")
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);

                foucusAction("actionContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

   $("#cancelBtn").click(function () {
        $.ajax({
            url: '@Url.Action("ExhibitionTable", "Admin")'
        })
            .done(function (response) {
                $("#actionContainer").html("");

                foucusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
</script>