@model ArtGallery.ViewModels.AdminLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
    <title>
        Admin Login
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/Content/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!--animate css-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/Content/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="bg-gray-200">


    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0"> Admin Sign In </h4>
                                    <div class="row mt-3">
                                        <div class="col-2 text-center ms-auto">
                                            <a class="btn btn-link px-3" href="javascript:;">
                                                <i class="fa fa-facebook text-white text-lg"></i>
                                            </a>
                                        </div>
                                        <div class="col-2 text-center px-1">
                                            <a class="btn btn-link px-3" href="javascript:;">
                                                <i class="fa fa-github text-white text-lg"></i>
                                            </a>
                                        </div>
                                        <div class="col-2 text-center me-auto">
                                            <a class="btn btn-link px-3" href="javascript:;">
                                                <i class="fa fa-google text-white text-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { id = "formData", onsubmit = "return validateForm()", name = "myForm" }))
                                {

                                    <div id="usernameDIV" class="input-group input-group-outline mt-3">
                                        <label class="form-label">Username</label>
                                        @Html.TextBoxFor(x => x.ad_userName, new { @class = "form-control", id = "username", @Value = @ViewBag.username , autocomplete="off"})
                                    </div>
                                    <span id="usernameError" style="display:none;color: red;font-size: 15px;">Username is Required</span>
                                    <div id="passwordDIV" class="input-group input-group-outline mt-3">
                                        <label class="form-label">Password</label>
                                        @Html.PasswordFor(x => x.ad_password, new { @class = "form-control", id = "password", @Value = @ViewBag.password, autocomplete = "off" })
                                    </div>
                                    <span id="passwordError" style="display:none;color: red;font-size: 15px;">Password is Required</span>
                                    <div class="form-check form-switch d-flex align-items-center my-3">
                                        @Html.CheckBoxFor(x => x.RememberMe, new { @class = "form-check-input" })
                                        <label class="form-check-label mb-0 ms-2" for="RememberMe">Remember me</label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" id="submitBtn" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (ViewBag.error != null)
                    {
                        <script>
                           swal({
                               title: "Error!",
                               text: "@ViewBag.error!",
                               icon: "error",
                           });
                        </script>
                    }
                </div>
            </div>
        </div>
    </main>



    <!--   Core JS Files   -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }</script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/material-dashboard.min.js?v=3.0.0"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

</body>
</html>
<script>

    $(document).ready(function () {
        if ($("#username").val() != "") {
            $("#usernameDIV").addClass("is-filled");
        }
        if ($("#password").val() != "") {
            $("#passwordDIV").addClass("is-filled");
        }

    });

    $("#username").keypress(function () {
        if ($("#username").val().trim() == "") {
            $("#usernameError").show();
            $("#usernameDIV").addClass("is-filled");
        }
        else {
            $("#usernameError").hide();
        }
    });

    $("#password").keypress(function () {
        if ($("#password").val().trim() == "") {
            $("#passwordError").show();
            $("#passwordDIV").addClass("is-filled");
        }
        else {
            $("#passwordError").hide();
        }
    });

    function validateForm() {
        if ($("#username").val().trim() == "") {
            $("#usernameError").show();
            $("#usernameDIV").addClass("is-filled");
            return false;
        }
        if ($("#password").val().trim() == "") {
            $("#passwordError").show();
            $("#passwordDIV").addClass("is-filled");
            return false;
        }
    }
</script>