@model ArtGallery.ViewModels.ShowOrderViewModel

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/AddToCart/css/style.css" type="text/css">
<style>
    #main_div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 500px;
    }

        #main_div #title {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
        }

    .list-group {
        border-color: #D0D5DC !important;
    }

        .list-group .list-group-item {
            border-color: #D0D5DC !important;
        }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500 !important;
    }

    a.account-card {
        text-decoration: none;
        color: unset;
    }

        a.account-card i.fa {
            font-size: 42px;
            width: 45px;
        }

        a.account-card .card {
            background: #F9FAFB;
            border: 1px solid #D0D5DC;
        }

            a.account-card .card:hover {
                background: #FFFFFF;
            }

            a.account-card .card:active {
                background: #F0F2F5;
            }

    .bg-yellow {
        background: #F5D847;
        color: #222C3A;
    }

    .list-group-item-action {
        background: #F9FAFB;
    }

        .list-group-item-action .fa {
            width: 22px;
        }

            .list-group-item-action .fa.fa-angle-right {
                font-size: 20px;
                position: absolute;
                right: 5px;
                top: 14px;
            }

    .coupon {
        background: #F9FAFB;
        border: 2px dashed #D0D5DC !important;
    }

    .reward-status-box {
        position: relative;
        width: 100%;
        color: #FFFFFF;
        background: #1b8cb2;
        border: 2px solid #38b7e1;
        border-radius: 5px;
    }

        .reward-status-box .reward-status {
            width: 60%;
            background: #38b7e1;
            padding: 15px;
        }

        .reward-status-box .current-status {
            position: absolute;
            right: 15px;
            top: 15px;
            color: #FFFFFF;
        }

        .reward-status-box .current-status-2 {
            position: absolute;
            right: 15px;
            top: 41px;
            color: #FFFFFF;
        }

    .text-orange {
        color: #EC9532 !important;
    }

    .text-carbon {
        color: #222C3A !important;
    }

    .text-pebble {
        color: #79879A !important;
    }

    .text-gray {
        color: #A2ABB9 !important;
    }

    .text-cloud {
        color: #D0D5DC !important;
    }

    .text-blue {
        color: #49AED0 !important;
    }

    .text-gray {
        color: #A2ABB9 !important;
    }

    .text-pale-sky {
        color: #A2ABB9 !important;
    }

    .bg-black {
        background: #111822 !important;
    }

    .bg-snow {
        background: #F9FAFB !important;
    }

    .bg-fog {
        background: #F0F2F5 !important;
    }

    .bb1-cloud {
        border-bottom: 1px solid #D0D5DC;
    }

    .fs-14 {
        font-size: 14px !important;
    }

    .fs-22 {
        font-size: 22px !important;
    }

    .tanga-header .navbar-brand {
        margin-bottom: 5px;
    }

    .tanga-header .nav-link {
        color: #A2ABB9;
    }

        .tanga-header .nav-link:hover {
            color: #FFFFFF;
        }

        .tanga-header .nav-link:active {
            color: #A2ABB9;
        }

    .tanga-navbar {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

        .tanga-navbar:-webkit-scrollbar {
            display: none;
        }

        .tanga-navbar .nav-link {
            white-space: nowrap;
            color: #79879A;
        }

            .tanga-navbar .nav-link:hover {
                color: #354050;
            }

            .tanga-navbar .nav-link:active {
                color: #79879A;
            }

    .btn-primary {
        background: #C62931;
        border-color: #C62931;
        cursor: pointer;
    }

        .btn-primary:hover {
            background: #d94950;
            border-color: #d94950;
        }

    .btn-secondary {
        background: #FFFFFF !important;
        color: #354050 !important;
        border-color: #D0D5DC !important;
        cursor: pointer;
    }

        .btn-secondary:hover {
            color: #354050 !important;
            background: #F9FAFB !important;
        }

        .btn-secondary:active {
            color: #79879A !important;
            background: #F0F2F5 !important;
        }

        .btn-secondary:focus {
            color: #79879A !important;
            background: #F0F2F5 !important;
            outline: 0 !important;
        }

    .mobile-nav {
        position: fixed;
        bottom: 0;
        z-index: 50;
        display: block;
        width: 100%;
        background: #111822;
    }

        .mobile-nav a {
            text-decoration: none !important;
            cursor: pointer;
            color: #A2ABB9;
            font-size: 12px;
            float: left;
            width: 20%;
            display: inline-block;
            text-align: center;
            margin: 0 !important;
            padding: 8px 0px 5px 0px;
        }

            .mobile-nav a.active {
                background: #222C3A;
                color: #FFFFFF;
            }

            .mobile-nav a i {
                font-size: 23px;
                display: block;
                margin: 0 auto;
                margin-bottom: 2px;
            }

    .fs-18 {
        font-size: 18px !important;
    }

    .fs-22 {
        font-size: 22px !important;
    }

    .bg-snow {
        background: #F9FAFB !important;
    }

    .card {
        border-color: #D0D5DC !important;
    }

    .text-pebble {
        color: #79879A !important;
    }

    .text-charcoal {
        color: #354050 !important;
    }

    .bottom-drawer {
        position: fixed;
        bottom: 56px;
        width: 100%;
        border-top: 1px solid #D0D5DC;
    }

    .bg-white {
        background: #FFFFFF !important;
    }

    .list-group {
        border-color: #D0D5DC !important;
    }

    .list-group-item {
        border-color: #D0D5DC !important;
    }

    .text-red {
        color: #C62931 !important;
    }

    .text-green {
        color: #00A362 !important;
    }

    .text-link-blue {
        color: #3373cc !important;
    }

    .form-control {
        background: #F9FAFB;
        border-color: #D0D5DC !important;
    }

    .bd-2-cloud {
        border: 2px dashed #D0D5DC;
    }

    .b-1-green {
        border: 2px solid #00A362 !important;
    }

    .br-8 {
        border-radius: 5px;
    }

    .address-radio .address-label {
        padding: 1rem;
        margin-bottom: 0 !important;
    }

    .address-radio [type=radio]:checked,
    .address-radio [type=radio]:not(:checked) {
        position: absolute;
        opacity: 0;
    }

        .address-radio [type=radio]:checked + label,
        .address-radio [type=radio]:not(:checked) + label {
            position: relative;
            padding-left: 50px;
            width: 100%;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #354050;
        }

            .address-radio [type=radio]:checked + label:before,
            .address-radio [type=radio]:not(:checked) + label:before {
                content: "";
                position: absolute;
                left: 1rem;
                top: 1rem;
                width: 20px;
                height: 20px;
                border: 2px solid #D0D5DC;
                border-radius: 50%;
                background: #fff;
            }

            .address-radio [type=radio]:checked + label:after,
            .address-radio [type=radio]:not(:checked) + label:after {
                content: "";
                width: 12px;
                height: 12px;
                background: #00A362;
                position: absolute;
                top: 20px;
                left: 20px;
                border-radius: 50%;
                transition: all 0.2s ease;
            }

            .address-radio [type=radio]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            .address-radio [type=radio]:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }

        .address-radio [type=radio]:not(:checked) ~ label p {
            display: none;
        }

        .address-radio [type=radio]:checked ~ label p {
            display: unset;
        }
</style>


@if (Model.Orders != null && Model.Orders.Count > 0)
{

    <div class="container mt-3 mt-md-5">
        <h2 class="text-charcoal hidden-sm-down">Your Orders</h2>
        <br />
        <h5 class="text-charcoal hidden-md-up">Your Orders</h5>
        <div class="row">
            <div class="col-12">
                <div class="list-group mb-5">
                    @foreach (var order in Model.Orders)
                    {
                        <div class="list-group-item p-3 bg-snow" style="position: relative;text-align:center;">
                            <div class="row w-100 no-gutters">
                                <div class="col-6 col-md">
                                    <h6 class="text-charcoal mb-0 w-100" style="font-size:16px;">Order Number</h6>
                                    <a href="" class="text-pebble mb-0 w-100 mb-2 mb-md-0" style="font-size:17px;font-weight:600;">#@order.o_id</a>
                                </div>
                                <div class="col-6 col-md">
                                    <h6 class="text-charcoal mb-0 w-100" style="font-size:16px;">Total</h6>
                                    <p class="text-pebble mb-0 w-100 mb-2 mb-md-0" style="font-size:17px;font-weight:600;">Rs @order.o_total_amout</p>
                                </div>
                                <div class="col-6 col-md">
                                    <h6 class="text-charcoal mb-0 w-100" style="font-size:16px;">Status</h6>
                                    <p class="text-pebble mb-0 w-100 mb-2 mb-md-0" style="font-size:17px;font-weight:600;">@order.o_status</p>
                                </div>
                            </div>
                        </div>
                        foreach (var order_details in Model.OrdersDetails)
                        {
                            if (order_details.od_fk_o == order.o_id)
                            {
                                <div class="list-group-item p-3 bg-white">
                                    <div class="row w-100">
                                        <div class="row mt-3 w-100">
                                            <div class="col-12 col-md-8 pr-0 pr-md-3 d-flex" style="padding-left: 75px;">
                                                <div style="margin-right:40px;display: flex;align-items: center;">
                                                    <img style="width: 120px;height: 120px;object-fit: cover;margin-bottom:10px;" src="@order_details.Art.art_image" alt="">
                                                </div>
                                                <div>
                                                    <h6 class="text-charcoal mb-2 mb-md-1">
                                                        <span style="font-size:20px;"><b>Name</b> : @order_details.Art.art_name</span>
                                                    </h6>
                                                    <ul class="list-unstyled text-pebble mb-2 small">
                                                        <li class="" style="font-size:15px;">
                                                            <b>Category:</b> @order_details.Art.Category.cat_name
                                                        </li>
                                                        <li class="" style="font-size:15px;margin-top:12px;">
                                                            <b>Artist:</b> @order_details.Art.Artist.ar_userName
                                                        </li>
                                                    </ul>
                                                    <h6 class="text-charcoal text-left mb-0 mb-md-2" style="font-size:17px;"><b>Rs @order_details.Art.art_price</b></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>


        </div>
    </div>

    <div class="p-3 hidden-md-up"></div>
    <div class="mobile-nav hidden-md-up">
        <a href="">
            <i class="fa fa-home"></i>
            Deals
        </a>
        <a class="" href="">
            <i class="fa fa-th-large"></i>
            Categories
        </a>
        <a href="">
            <i class="fa fa-search"></i>
            Search
        </a>
        <a href="" class="active">
            <i class="fa fa-shopping-cart"></i>
            Cart
        </a>
        <a class="" href="">
            <i class="fa fa-user"></i>
            Account
        </a>
    </div>

}
else
{
    <div id="main_div">
        <div id="title">
            There are no Orders
        </div>
        <div class="row">
            <div>
                <div class="continue__btn">
                    <a href="@Url.Action("Shop", "Home")">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
}