@using ArtGallery.Models
@model ArtGallery.ViewModels.SingleArtViewModel

<style>
    .countdown-container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    #Art_Div > div:nth-child(1) > div > div.countdown-el.days-c, #Art_Div > div:nth-child(1) > div > div.countdown-el.hour-c, #Art_Div > div:nth-child(1) > div > div.countdown-el.mins-c, #Art_Div > div:nth-child(1) > div > div.countdown-el.seconds-c {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px;
    }
</style>

<div id="Art_Div">

    <div style="margin-top:30px;">
        <div class="countdown-container" id="showTime">
            <div class="countdown-el days-c">
                <p class="big-text" id="days">0</p>
                <span>d</span>
            </div>
            <div class="countdown-el hour-c">
                <p class="big-text" id="hours">0</p>
                <span>h</span>
            </div>
            <div class="countdown-el mins-c">
                <p class="big-text" id="mins">0</p>
                <span>m</span>
            </div>
            <div class="countdown-el seconds-c">
                <p class="big-text" id="seconds">0</p>
                <span>s</span>
            </div>
        </div>
        <p class="timeLeft" style="text-align: center;font-size: 16px;font-weight: 600;">TIME LEFT</p>

    </div>
    <ul id="bidDiv" class="price-table mb-30">
        @if (Model.highestBid != null)
        {
            <li style="display: flex;justify-content: space-between;align-items: center;">
                <div style="font-size: 15px;font-weight: bold;">Highest Bid</div>
                <div><h5 style="font-size:20px;color:#cd0acd;font-weight:600;" class="price m-0"><span style="color:black;">Rs</span> : <span id="Art_highest">@Model.highestBid.bid_amount</span></h5></div>
            </li>
            <hr />
            <li class="header">
                <div style="font-size:21px;display:flex;justify-content:center;align-items:center;" class="current">
                    <img src="@Model.highestBid.Customer.c_image" style="width: 80px;object-fit: cover;height: 80px;border-radius: 50%;" alt="Alternate Text" />
                    <div style="margin-left:15px;">
                        <div style="font-size:13px;font-weight:600">Current Highest Bidder</div>
                        <div style="font-size:20px;font-weight:700">@Model.highestBid.Customer.c_userName</div>
                        @foreach (var Country in Model.Country)
                        {
                            if (int.Parse(Model.highestBid.Customer.c_country) == Country.con_id)
                            {
                                <div style="font-size:12px;font-weight:600"><b>Location : </b>@Country.con_name</div>
                            }
                        }
                    </div>
                </div>

            </li>
        }

        @if (Model.highestBid != null)
        {
            <li class="mt-5">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <td><b>Bid</b></td>
                            <td><b>User</b></td>
                            <td><b>Time</b></td>
                        </tr>
                    </thead>
                    <tbody id="Art_body">
                        @if (Model.bids.Count > 8)
                        {
                            foreach (var bid in Model.bids.OrderByDescending(x => x.bid_id).Take(8))
                            {
                                <tr>
                                    <td style="font-weight:500;padding:2px;">@bid.bid_amount</td>
                                    <td style="font-weight:500;padding:2px;"><img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;margin-right: 3px;" src="@bid.Customer.c_image" alt="Alternate Text" /> @bid.Customer.c_userName</td>
                                    <td style="font-weight:500;padding:2px;">@bid.bid_timeStamp</td>
                                </tr>
                            }
                        }
                        else
                        {
                            foreach (var bid in Model.bids.OrderByDescending(x => x.bid_id))
                            {
                                <tr>
                                    <td style="font-weight:500;padding:2px;">@bid.bid_amount</td>
                                    <td style="font-weight:500;padding:2px;"><img style="width: 30px;height: 30px;object-fit: cover;border-radius: 50%;margin-right: 3px;" src="@bid.Customer.c_image" alt="Alternate Text" /> @bid.Customer.c_userName</td>
                                    <td style="font-weight:500;padding:2px;">@bid.bid_timeStamp</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </li>
        }
        else
        {
            <li style="display: flex;justify-content: space-between;align-items: center;">
                <div style="font-size: 15px;font-weight: bold;">Current Bid</div>
                <div><h5 style="font-size:20px;color:#cd0acd;font-weight:600;" class="price m-0"><span style="color:black;">Rs</span> : <span id="Art_highest">0</span></h5></div>
            </li>
            <li>
                <hr />
                <div style="border: 4px dashed grey;border-radius:10px;font-size: 17px;color: black;font-weight: bold;padding: 10px 50px;text-align: center;margin:45px;">
                    No Bidder Yet
                </div>
            </li>

        }
    </ul>

    <div id="loader" style="margin: 10px 0px;text-align:center;display:none;">
        <img src="~/Content/spinner-icon-gif-28 (1).gif" width="50" alt="Alternate Text" />
        <br />
    </div>
    <p style="display:none;margin-top:12px;" id="greater_bid" class="showing-product font-weight-500">
        <span style="display: inline-block;padding: 0.2rem 0.7rem;border-radius: 4px;font-weight: 600;background-color: #3e2956;-ms-flex-item-align: start;align-self: flex-start;font-size:15px;color:white">
            Please Enter the Highest bid
        </span>
    </p>
    @if (Session["customer_id"] != null)
    {
        <div id="form" class="product-bid-area">
            <form id="bidForm" class="product-bid-form">
                <input type="number" min="1" id="amount" name="amount" placeholder="Enter you bid amount" onkeypress="return event.keyCode != 13;">
                <button type="button" class="submit_bid custom-button">Bid</button>
            </form>
            <span style="color: red;font-size: 16px;font-weight: 400;display:none;" id="error">* Please Enter Your Bid</span>
        </div>
    }
</div>

<script>
    var highestBidderId;
    var highestBidderAmount;
        
     $.ajax({
        url: '@Url.Action("HighestBidderModelData", "Home")',
      data : {
            id : @Model.Art.art_id,
      }
        })
      .done(function (response) {
            highestBidderId = response;
          console.log(highestBidderId);
        })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
       $.ajax({
               url: '@Url.Action("HighestBidderAmount", "Home")',
      data : {
          id : @Model.Art.art_id,
      }
        })
              .done(function (response) {
                  highestBidderAmount = response;
                  console.log(response);
                  
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
        });
    function foucusAction(contentToAction) {
        $('html, body').animate({
            scrollTop: $("#" + contentToAction).offset().top - 120
        }, 0);
        }
    $(".submit_bid").click(function () {
        var auction_amount = $("#amount").val();
        debugger;
        if (auction_amount != "" && auction_amount != undefined) {
            $("#greater_bid").hide();
            if (auction_amount <= highestBidderAmount) {
                $("#greater_bid").show();
                $("#error").hide();
            }
            else {
                $("#greater_bid").hide();
            $("#error").hide();
                $("#loader").show();

        $.ajax({
             type:"POST",
            url: '@Url.Action("SingleArtAuctionTable", "Home")',
            data:{
                id: '@Model.auctionId',
                amount: auction_amount
            }
        })
            .done(function (response) {
                if (response.Success) {

                    $("#loader").hide();
                }
                else {
                    alert("not add bidding");
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });

                $.ajax({

           url: '@Url.Action("ShowAuctionTableResult", "Home")',
            data:{
                id: '@Model.auctionId',
            }
        })
           .done(function (response) {
               $("#bidDiv").html(response);
               $("#amount").val("");
               foucusAction("Art_Div");
               $("#loader").hide();
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });

          $.ajax({
               url: '@Url.Action("HighestBidderModelData", "Home")',
      data : {
          id : @Model.Art.art_id,
      }
        })
              .done(function (response) {
                  highestBidderId = response;
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
                    });

          $.ajax({
               url: '@Url.Action("HighestBidderAmount", "Home")',
      data : {
          id : @Model.Art.art_id,
      }
        })
              .done(function (response) {
                  highestBidderAmount = response;
                   })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
        });         
       
            }

        }
        else {
            $("#error").show();
            $("#greater_bid").hide();
        }
    });




    const daysEl = document.getElementById("days");
    const hoursEl = document.getElementById("hours");
    const minsEl = document.getElementById("mins");
    const secondsEl = document.getElementById("seconds");

    var a = 0;

        const Brithdays = "@Model.endDate.auc_end_date";
    function countdown() {

        const BrithdaysDate = new Date(Brithdays);
        const currentDate = new Date();

        const totalSeconds = (BrithdaysDate - currentDate) / 1000;

        const days = Math.floor(totalSeconds / 3600 / 24);
        const hours = Math.floor(totalSeconds / 3600) % 24;
        const mins = Math.floor(totalSeconds / 60) % 60;
        const seconds = Math.floor(totalSeconds) % 60;

        daysEl.innerHTML = days;
        hoursEl.innerHTML = formatTime(hours);
        minsEl.innerHTML = formatTime(mins);
        secondsEl.innerHTML = formatTime(seconds);

        //end date - vurrent date ? 0 ya <0

        var date = new Date(Brithdays);
        var getseconds = date.getTime() / 1000; //1440516958

        var getCurrentSeconds = currentDate.getTime() / 1000; //1440516958
        var tim = getseconds - date
        var finalTime = (getseconds - getCurrentSeconds);


        if (finalTime <= 0) {
            if (a == 0) {
                $.ajax({
                    url: '@Url.Action("WinAuction", "Home")',
                    data: {
                        art_id: @Model.Art.art_id,
                        cus_id: highestBidderId,
                    }
        })
                    .done(function (response) {
                        if (response.Success != false) {
                            $("#showTime").html("Art Bought by " + response);
                            $(".timeLeft").html("Congraulations");
                            swal("Art Add to Cart!", "Check your Cart!", "success");
                            $("#form").slideUp("slow");
                        }
                        else {
                            $("#showTime").html("Time Up");
                            $(".timeLeft").html("No Bits Yets");
                        }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
                    });

                 $.ajax({
            url: '@Url.Action("CartItemsCount", "Home")',
        })
            .done(function (response) {
                $("#CartItemsCountSpan").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });

                a++;
            }
        }
    }

    function formatTime(time) {
        return time < 10 ? "0" + time : time;
    }

    countdown();

    setInterval(countdown, 1000);


</script>